@import '../styles/variables.scss';

.app {
  text-align: center;
}

.app__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.app__header {
  background-color: $white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
