.button {
  background-color: $blue;
  color: $white;
  padding: 5px 10px;
  border: none;
}

.button:hover {
  background-color: $blue-dark;
}

.search__button {
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
}
